In [1]:
import pandas as pd
happiness_df = pd.read_csv('./datasets/happiness_report_2023.csv')
display(happiness_df)

,country,region,happiness_score,gdp_per_capita,social_support,healthy_life_expectancy,freedom_to_make_life_choices,generosity,perceptions_of_corruption
0,Finland,Western Europe,7.804,1.888,1.585,0.535,0.772,0.126,0.535
1,Denmark,Western Europe,7.586,1.949,1.548,0.537,0.734,0.208,0.525
2,Iceland,Western Europe,7.530,1.926,1.620,0.559,0.738,0.250,0.187
3,Israel,Middle East and North Africa,7.473,1.833,1.521,0.577,0.569,0.124,0.158
4,Netherlands,Western Europe,7.403,1.942,1.488,0.545,0.672,0.251,0.394
...,...,...,...,...,...,...,...,...,...
132,Congo (Kinshasa),Sub-Saharan Africa,3.207,0.531,0.784,0.105,0.375,0.183,0.068
133,Zimbabwe,Sub-Saharan Africa,3.204,0.758,0.881,0.069,0.363,0.112,0.117
134,Sierra Leone,Sub-Saharan Africa,3.138,0.670,0.540,0.092,0.371,0.193,0.051
135,Lebanon,Middle East and North Africa,2.392,1.417,0.476,0.398,0.123,0.061,0.027
136,Afghanistan,South Asia,1.859,0.645,0.000,0.087,0.000,0.093,0.059

In [2]:
display(happiness_df[['happiness_score','region']])
region_happiness = happiness_df.groupby('region').mean('happiness_score').reset_index()
display(region_happiness)

     happiness_score                        region
0              7.804                Western Europe
1              7.586                Western Europe
2              7.530                Western Europe
3              7.473  Middle East and North Africa
4              7.403                Western Europe
..               ...                           ...
132            3.207            Sub-Saharan Africa
133            3.204            Sub-Saharan Africa
134            3.138            Sub-Saharan Africa
135            2.392  Middle East and North Africa
136            1.859                    South Asia

[137 rows x 2 columns]

,region,happiness_score,gdp_per_capita,social_support,healthy_life_expectancy,freedom_to_make_life_choices,generosity,perceptions_of_corruption
0,Central and Eastern Europe,5.967091,1.618364,1.361545,0.430545,0.566227,0.137273,0.076227
1,Commonwealth of Independent States,5.828250,1.231000,1.381250,0.368000,0.675500,0.183500,0.166750
2,East Asia,5.930167,1.734667,1.316667,0.521833,0.510333,0.110833,0.190167
3,Latin America and Caribbean,5.966053,1.349632,1.260000,0.412158,0.605895,0.109158,0.104632
4,Middle East and North Africa,5.102143,1.514571,1.081214,0.403846,0.433929,0.099286,0.124786
5,North America and ANZ,7.018250,1.900500,1.496250,0.494000,0.640500,0.225000,0.329250
6,South Asia,4.089000,1.069833,0.682500,0.259833,0.486500,0.147167,0.104500
7,Southeast Asia,5.431222,1.400889,1.149333,0.360333,0.667111,0.233778,0.156000
8,Sub-Saharan Africa,4.382485,0.912848,0.812788,0.148788,0.428394,0.164727,0.102697
9,Western Europe,6.894350,1.911050,1.434950,0.547800,0.627500,0.156750,0.301550

In [3]:
display(happiness_df.describe().T)

,count,mean,std,min,25%,50%,75%,max
happiness_score,137.0,5.539796,1.139929,1.859,4.7240,5.6840,6.3340,7.804
gdp_per_capita,137.0,1.406985,0.432963,0.000,1.0990,1.4490,1.7980,2.200
social_support,137.0,1.156212,0.326322,0.000,0.9620,1.2270,1.4010,1.620
healthy_life_expectancy,136.0,0.366176,0.156691,0.000,0.2485,0.3895,0.4875,0.702
freedom_to_make_life_choices,137.0,0.540000,0.149501,0.000,0.4550,0.5570,0.6560,0.772
generosity,137.0,0.148474,0.076053,0.000,0.0970,0.1370,0.1990,0.422
perceptions_of_corruption,137.0,0.145898,0.126723,0.000,0.0600,0.1110,0.1870,0.561

In [4]:
import numpy as np
from scipy.stats import iqr

# display(happiness_df.describe().T)

# happiness_Q1 = np.percentile(happiness_df.score, 25) # 하위 25프로
# happiness_Q3 = np.percentile(happiness_df.score, 75) # 상위 25프로
# print(happiness_Q1, happiness_Q3)

happiness_score_Q1 = happiness_df.describe().T.loc['happiness_score','25%']
happiness_score_Q3 = happiness_df.describe().T.loc['happiness_score','75%']
print(happiness_score_Q1, happiness_score_Q3)

iqr_value = happiness_score_Q3 - happiness_score_Q1
print(iqr_value)

# iqr_value = iqr(happiness_df.score)
# print(iqr_value)

lower_bound = happiness_score_Q1 - 1.5 * iqr_value # 최소
upper_bound = happiness_score_Q3 + 1.5 * iqr_value # 최대 
print(f'행복도 정상치의 범위 : {lower_bound} ~ {upper_bound}')

4.724 6.334
1.6099999999999994
행복도 정상치의 범위 : 2.309000000000001 ~ 8.748999999999999

In [5]:
import numpy as np
from scipy.stats import iqr

# display(happiness_df.describe().T)

happiness_social_Q1 = np.percentile(happiness_df.social_support, 25) # 하위 25프로
happiness_social_Q3 = np.percentile(happiness_df.social_support, 75) # 상위 25프로
print(happiness_social_Q1, happiness_social_Q3)

iqr_value = iqr(happiness_df.social_support	)
print(iqr_value)

lower_bound = happiness_social_Q1 - 1.5 * iqr_value # 최소
upper_bound = happiness_social_Q3 + 1.5 * iqr_value # 최대 
print(f'사회적 지원 정상치의 범위 : {lower_bound} ~ {upper_bound}')

0.962 1.401
0.43900000000000006
사회적 지원 정상치의 범위 : 0.3034999999999999 ~ 2.0595

In [27]:

social_result = happiness_df[happiness_df['social_support'] > 1.6]
#iceland가 사회적 지원이 가장 높다.
happy_result = happiness_df[happiness_df['happiness_score'] > 7.8]
# 행복도 도수가 가장 높은 나라는 Finland : 7.804
region_happiness = happiness_df.groupby('region').mean('happiness_score').reset_index()
display(happy_result)
# North America and ANZ의 행복도가 가장 높다. : 7.018
display(region_happiness)

,country,region,happiness_score,gdp_per_capita,social_support,healthy_life_expectancy,freedom_to_make_life_choices,generosity,perceptions_of_corruption
0,Finland,Western Europe,7.804,1.888,1.585,0.535,0.772,0.126,0.535

,region,happiness_score,gdp_per_capita,social_support,healthy_life_expectancy,freedom_to_make_life_choices,generosity,perceptions_of_corruption
0,Central and Eastern Europe,5.967091,1.618364,1.361545,0.430545,0.566227,0.137273,0.076227
1,Commonwealth of Independent States,5.828250,1.231000,1.381250,0.368000,0.675500,0.183500,0.166750
2,East Asia,5.930167,1.734667,1.316667,0.521833,0.510333,0.110833,0.190167
3,Latin America and Caribbean,5.966053,1.349632,1.260000,0.412158,0.605895,0.109158,0.104632
4,Middle East and North Africa,5.102143,1.514571,1.081214,0.403846,0.433929,0.099286,0.124786
5,North America and ANZ,7.018250,1.900500,1.496250,0.494000,0.640500,0.225000,0.329250
6,South Asia,4.089000,1.069833,0.682500,0.259833,0.486500,0.147167,0.104500
7,Southeast Asia,5.431222,1.400889,1.149333,0.360333,0.667111,0.233778,0.156000
8,Sub-Saharan Africa,4.382485,0.912848,0.812788,0.148788,0.428394,0.164727,0.102697
9,Western Europe,6.894350,1.911050,1.434950,0.547800,0.627500,0.156750,0.301550

In [6]:
# display(happiness_df.describe().T)

happiness_gdp_Q1 = np.percentile(happiness_df.gdp_per_capita, 25) # 하위 25프로
happiness_gdp_Q3 = np.percentile(happiness_df.gdp_per_capita, 75) # 상위 25프로
print(happiness_gdp_Q1, happiness_gdp_Q3)

iqr_value = iqr(happiness_df.gdp_per_capita	)
print(iqr_value)

lower_bound = happiness_gdp_Q1 - 1.5 * iqr_value # 최소
upper_bound = happiness_gdp_Q3 + 1.5 * iqr_value # 최대 
print(f'gdp 정상치의 범위 : {lower_bound} ~ {upper_bound}')

1.099 1.798
0.6990000000000001
gdp 정상치의 범위 : 0.05049999999999977 ~ 2.8465000000000003

In [35]:
happiness_free_Q1 = np.percentile(happiness_df.freedom_to_make_life_choices, 25)
happiness_free_Q3 = np.percentile(happiness_df.freedom_to_make_life_choices, 75)
print(happiness_free_Q1,happiness_free_Q3)
iqr_value = iqr(happiness_df.freedom_to_make_life_choices)
print(iqr_value)

lower_bound = happiness_free_Q1 - 1.5 * iqr_value # 최소
upper_bound = happiness_free_Q3 + 1.5 * iqr_value # 최대 
print(f'선택 자유도 정상치의 범위 : {lower_bound} ~ {upper_bound}')

0.455 0.656
0.201
선택 자유도 정상치의 범위 : 0.15350000000000003 ~ 0.9575

In [38]:
display(happiness_df[['happiness_score','social_support']])
region_happiness = happiness_df.groupby('social_support').mean('happiness_score').reset_index()
display(region_happiness)

region_happiness = happiness_df.groupby('region').mean('happiness_score').reset_index()
region_happiness_max = happiness_df.groupby('region').max('happiness_score').reset_index()
display(region_happiness)
display(region_happiness_max)
social_result = happiness_df[happiness_df['social_support'] > 1.6]
free_happiness = happiness_df.groupby('freedom_to_make_life_choices').mean('happiness_score').reset_index()
display(free_happiness)
#---------1차 추출-----------------------------
# 가장 행복도가 높은 대륙은 북아메리카,AMZ이다.
# 사회적 지원이 높을수록 행복도 차이와 연관이 없다.
# gdp가 높아질 수록 행복도 차이와 연관이 없다.
#-------------2차 추출 --------------------------
# 선택 자유도가 높을 수록 행복도가 높아지는 것을 알 수 있다. 
# 실제로 선택자유도를 GroupBy해서 행복도의 평균값과 최대값을 조사한 결과, 
#선택의 자유가 높은 나라 및 대륙 에서 행복도가 높다는 것을 알 수 있다.

     happiness_score  social_support
0              7.804           1.585
1              7.586           1.548
2              7.530           1.620
3              7.473           1.521
4              7.403           1.488
..               ...             ...
132            3.207           0.784
133            3.204           0.881
134            3.138           0.540
135            2.392           0.476
136            1.859           0.000

[137 rows x 2 columns]

,social_support,happiness_score,gdp_per_capita,healthy_life_expectancy,freedom_to_make_life_choices,generosity,perceptions_of_corruption
0,0.000,1.859000,0.645000,0.087000,0.000000,0.093,0.059
1,0.242,4.374000,0.924000,0.124000,0.481000,0.114,0.253
2,0.327,3.545000,0.914000,0.215000,0.117000,0.129,0.145
3,0.476,2.392000,1.417000,0.398000,0.123000,0.061,0.027
4,0.479,3.495000,0.637000,0.189000,0.490000,0.139,0.129
...,...,...,...,...,...,...,...
121,1.539,6.650000,1.815000,0.532000,0.707000,0.144,0.113
122,1.544,6.812333,1.798667,0.487333,0.619667,0.172,0.181
123,1.548,7.586000,1.949000,0.537000,0.734000,0.208,0.525
124,1.585,7.804000,1.888000,0.535000,0.772000,0.126,0.535
125,1.620,7.530000,1.926000,0.559000,0.738000,0.250,0.187

,region,happiness_score,gdp_per_capita,social_support,healthy_life_expectancy,freedom_to_make_life_choices,generosity,perceptions_of_corruption
0,Central and Eastern Europe,5.967091,1.618364,1.361545,0.430545,0.566227,0.137273,0.076227
1,Commonwealth of Independent States,5.828250,1.231000,1.381250,0.368000,0.675500,0.183500,0.166750
2,East Asia,5.930167,1.734667,1.316667,0.521833,0.510333,0.110833,0.190167
3,Latin America and Caribbean,5.966053,1.349632,1.260000,0.412158,0.605895,0.109158,0.104632
4,Middle East and North Africa,5.102143,1.514571,1.081214,0.403846,0.433929,0.099286,0.124786
5,North America and ANZ,7.018250,1.900500,1.496250,0.494000,0.640500,0.225000,0.329250
6,South Asia,4.089000,1.069833,0.682500,0.259833,0.486500,0.147167,0.104500
7,Southeast Asia,5.431222,1.400889,1.149333,0.360333,0.667111,0.233778,0.156000
8,Sub-Saharan Africa,4.382485,0.912848,0.812788,0.148788,0.428394,0.164727,0.102697
9,Western Europe,6.894350,1.911050,1.434950,0.547800,0.627500,0.156750,0.301550

,region,happiness_score,gdp_per_capita,social_support,healthy_life_expectancy,freedom_to_make_life_choices,generosity,perceptions_of_corruption
0,Central and Eastern Europe,6.845,1.823,1.544,0.532,0.728,0.275,0.372
1,Commonwealth of Independent States,6.144,1.664,1.491,0.417,0.740,0.260,0.292
2,East Asia,6.535,1.951,1.494,0.702,0.666,0.239,0.390
3,Latin America and Caribbean,6.609,1.714,1.445,0.511,0.713,0.205,0.254
4,Middle East and North Africa,7.473,2.015,1.521,0.577,0.748,0.229,0.250
5,North America and ANZ,7.123,1.980,1.544,0.541,0.677,0.242,0.471
6,South Asia,5.360,1.422,1.224,0.426,0.685,0.215,0.165
7,Southeast Asia,6.587,2.168,1.354,0.607,0.768,0.422,0.561
8,Sub-Saharan Africa,5.902,1.589,1.428,0.336,0.625,0.332,0.269
9,Western Europe,7.804,2.200,1.620,0.582,0.772,0.272,0.535

,freedom_to_make_life_choices,happiness_score,gdp_per_capita,social_support,healthy_life_expectancy,generosity,perceptions_of_corruption
0,0.000,1.859,0.645,0.000,0.087,0.093,0.059
1,0.117,3.545,0.914,0.327,0.215,0.129,0.145
2,0.123,2.392,1.417,0.476,0.398,0.061,0.027
3,0.125,4.614,1.714,1.148,0.467,0.095,0.096
4,0.187,4.019,0.632,0.779,0.178,0.177,0.134
...,...,...,...,...,...,...,...
111,0.748,6.173,1.883,1.269,0.389,0.199,0.138
112,0.752,7.315,1.994,1.521,0.544,0.212,0.463
113,0.754,7.395,1.921,1.510,0.562,0.225,0.520
114,0.768,4.393,1.025,1.024,0.283,0.176,0.051
115,0.772,7.804,1.888,1.585,0.535,0.126,0.535

In [40]:
free_mean_df = happiness_df.groupby('freedom_to_make_life_choices').mean('happiness_score').reset_index()
display(free_mean_df)

free_min_df = happiness_df.groupby('freedom_to_make_life_choices').min('happiness_score').reset_index()
display(free_min_df)

free_max_df = happiness_df.groupby('freedom_to_make_life_choices').max('happiness_score').reset_index()
display(free_max_df)

free_std_df = happiness_df.groupby('freedom_to_make_life_choices')['happiness_score'].std().reset_index()
display(free_std_df)

,freedom_to_make_life_choices,happiness_score,gdp_per_capita,social_support,healthy_life_expectancy,generosity,perceptions_of_corruption
0,0.000,1.859,0.645,0.000,0.087,0.093,0.059
1,0.117,3.545,0.914,0.327,0.215,0.129,0.145
2,0.123,2.392,1.417,0.476,0.398,0.061,0.027
3,0.125,4.614,1.714,1.148,0.467,0.095,0.096
4,0.187,4.019,0.632,0.779,0.178,0.177,0.134
...,...,...,...,...,...,...,...
111,0.748,6.173,1.883,1.269,0.389,0.199,0.138
112,0.752,7.315,1.994,1.521,0.544,0.212,0.463
113,0.754,7.395,1.921,1.510,0.562,0.225,0.520
114,0.768,4.393,1.025,1.024,0.283,0.176,0.051
115,0.772,7.804,1.888,1.585,0.535,0.126,0.535

,freedom_to_make_life_choices,happiness_score,gdp_per_capita,social_support,healthy_life_expectancy,generosity,perceptions_of_corruption
0,0.000,1.859,0.645,0.000,0.087,0.093,0.059
1,0.117,3.545,0.914,0.327,0.215,0.129,0.145
2,0.123,2.392,1.417,0.476,0.398,0.061,0.027
3,0.125,4.614,1.714,1.148,0.467,0.095,0.096
4,0.187,4.019,0.632,0.779,0.178,0.177,0.134
...,...,...,...,...,...,...,...
111,0.748,6.173,1.883,1.269,0.389,0.199,0.138
112,0.752,7.315,1.994,1.521,0.544,0.212,0.463
113,0.754,7.395,1.921,1.510,0.562,0.225,0.520
114,0.768,4.393,1.025,1.024,0.283,0.176,0.051
115,0.772,7.804,1.888,1.585,0.535,0.126,0.535

,freedom_to_make_life_choices,happiness_score,gdp_per_capita,social_support,healthy_life_expectancy,generosity,perceptions_of_corruption
0,0.000,1.859,0.645,0.000,0.087,0.093,0.059
1,0.117,3.545,0.914,0.327,0.215,0.129,0.145
2,0.123,2.392,1.417,0.476,0.398,0.061,0.027
3,0.125,4.614,1.714,1.148,0.467,0.095,0.096
4,0.187,4.019,0.632,0.779,0.178,0.177,0.134
...,...,...,...,...,...,...,...
111,0.748,6.173,1.883,1.269,0.389,0.199,0.138
112,0.752,7.315,1.994,1.521,0.544,0.212,0.463
113,0.754,7.395,1.921,1.510,0.562,0.225,0.520
114,0.768,4.393,1.025,1.024,0.283,0.176,0.051
115,0.772,7.804,1.888,1.585,0.535,0.126,0.535

     freedom_to_make_life_choices  happiness_score
0                           0.000              NaN
1                           0.117              NaN
2                           0.123              NaN
3                           0.125              NaN
4                           0.187              NaN
..                            ...              ...
111                         0.748              NaN
112                         0.752              NaN
113                         0.754              NaN
114                         0.768              NaN
115                         0.772              NaN

[116 rows x 2 columns]

In [44]:
region_mean_df = happiness_df.groupby('region').mean('happiness_score').reset_index()
display(region_mean_df)

# region_min_df = happiness_df.groupby('region').min('happiness_score').reset_index()
# display(region_min_df)

# region_max_df = happiness_df.groupby('region').max('happiness_score').reset_index()
# display(region_max_df)

region_std_df = happiness_df.groupby('region')['happiness_score'].std().reset_index()
display(region_std_df)

,region,happiness_score,gdp_per_capita,social_support,healthy_life_expectancy,freedom_to_make_life_choices,generosity,perceptions_of_corruption
0,Central and Eastern Europe,5.967091,1.618364,1.361545,0.430545,0.566227,0.137273,0.076227
1,Commonwealth of Independent States,5.828250,1.231000,1.381250,0.368000,0.675500,0.183500,0.166750
2,East Asia,5.930167,1.734667,1.316667,0.521833,0.510333,0.110833,0.190167
3,Latin America and Caribbean,5.966053,1.349632,1.260000,0.412158,0.605895,0.109158,0.104632
4,Middle East and North Africa,5.102143,1.514571,1.081214,0.403846,0.433929,0.099286,0.124786
5,North America and ANZ,7.018250,1.900500,1.496250,0.494000,0.640500,0.225000,0.329250
6,South Asia,4.089000,1.069833,0.682500,0.259833,0.486500,0.147167,0.104500
7,Southeast Asia,5.431222,1.400889,1.149333,0.360333,0.667111,0.233778,0.156000
8,Sub-Saharan Africa,4.382485,0.912848,0.812788,0.148788,0.428394,0.164727,0.102697
9,Western Europe,6.894350,1.911050,1.434950,0.547800,0.627500,0.156750,0.301550

                               region  happiness_score
0          Central and Eastern Europe         0.559300
1  Commonwealth of Independent States         0.357055
2                           East Asia         0.403384
3         Latin America and Caribbean         0.381950
4        Middle East and North Africa         1.263875
5               North America and ANZ         0.108902
6                          South Asia         1.180692
7                      Southeast Asia         0.732066
8                  Sub-Saharan Africa         0.675345
9                      Western Europe         0.557576

In [43]:
region_free_mean_df = happiness_df.groupby('region').mean('freedom_to_make_life_choices').reset_index()
display(region_free_mean_df)

# region_free_min_df = happiness_df.groupby('region').min('freedom_to_make_life_choices').reset_index()
# display(region_free_min_df)

# region_free_max_df = happiness_df.groupby('region').max('freedom_to_make_life_choices').reset_index()
# display(region_free_max_df)

region_free_std_df = happiness_df.groupby('region')['freedom_to_make_life_choices'].std().reset_index()
display(region_free_std_df)

,region,happiness_score,gdp_per_capita,social_support,healthy_life_expectancy,freedom_to_make_life_choices,generosity,perceptions_of_corruption
0,Central and Eastern Europe,5.967091,1.618364,1.361545,0.430545,0.566227,0.137273,0.076227
1,Commonwealth of Independent States,5.828250,1.231000,1.381250,0.368000,0.675500,0.183500,0.166750
2,East Asia,5.930167,1.734667,1.316667,0.521833,0.510333,0.110833,0.190167
3,Latin America and Caribbean,5.966053,1.349632,1.260000,0.412158,0.605895,0.109158,0.104632
4,Middle East and North Africa,5.102143,1.514571,1.081214,0.403846,0.433929,0.099286,0.124786
5,North America and ANZ,7.018250,1.900500,1.496250,0.494000,0.640500,0.225000,0.329250
6,South Asia,4.089000,1.069833,0.682500,0.259833,0.486500,0.147167,0.104500
7,Southeast Asia,5.431222,1.400889,1.149333,0.360333,0.667111,0.233778,0.156000
8,Sub-Saharan Africa,4.382485,0.912848,0.812788,0.148788,0.428394,0.164727,0.102697
9,Western Europe,6.894350,1.911050,1.434950,0.547800,0.627500,0.156750,0.301550

                               region  freedom_to_make_life_choices
0          Central and Eastern Europe                      0.076836
1  Commonwealth of Independent States                      0.072592
2                           East Asia                      0.101080
3         Latin America and Caribbean                      0.076551
4        Middle East and North Africa                      0.211375
5               North America and ANZ                      0.056383
6                          South Asia                      0.246151
7                      Southeast Asia                      0.090150
8                  Sub-Saharan Africa                      0.107166
9                      Western Europe                      0.129057

#### 2023년도 행복도 조사 보고서 
- 대륙별 행복도 평균이 가장 높은 곳은 북아메리카와 ANZ 라는 곳이다.